

<p>
    <i class="fa fa-spinner fa-spin"></i>
    <i class="fa fa-refresh fa-spin"></i>
    <i class="fa fa-cog fa-spin"></i>
</p>
<br>
<p>
    <i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
    Use a few styles together and you'll have easy pull quotes or a great introductory article icon.
</p>
<br>

